@import '_contact.css';
@import '_nav.css';
@import '_header.css';
@import '_course.css';
@import '_about-us.css';
@import '_teacher.css';
@import '_stat.css';
@import '_topic.css';
@import '_faq.css';
@import '_footer.css';

@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
